.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') #{ __i('title') }
      .nav-collapse.collapse
        p.navbar-text.pull-right
          a(href='/chs/new') #{__i('new-channel')}
