.well.sidebar-nav
  ul.nav.nav-list
    li.nav-header.channel-list #{__i('channel')}
    each ch in channels
      li(class=(typeof cid != 'undefined' && cid == ch.id) ? 'active channel':'channel'): a(href='/ch/#{ch.id}') #{ch.title}


