extends layout

block content
  .span9.main#index
    .hero-unit
      h1 #{__i('title')}
      p #{__i('service-description')}
      img(id='sample-he-button', class='button', src='/images/he-button.png')
