extends ../layout

block content
  .row-fluid#show
    .span3
      include ../includes/sidebar
    .span9.main
      .hero-unit
        h1.channel-title #{channel.title}
        p.channel-description #{channel.description}
        .player
          !{channel.code}
      .row-fluid
        .span12
          .buttons
            p
              img(id='he-button', class='button', src='/images/he-button.png')
              img(id='warai-button', class='button', src='/images/he-button.png')
              img(id='un-button', class='button', src='/images/he-button.png')
              img(id='oh-button', class='button', src='/images/he-button.png')
              img(id='iine-button', class='button', src='/images/he-button.png')
              img(id='e-button', class='button', src='/images/he-button.png')

block bottom
  script
    socket = io.connect('http://localhost');
    socket.on('connected', function(data){
      console.log('connected');
      socket.emit('join', {'room':'room#{cid}'});
    });
